<!doctype html>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客系统 | 列表</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
</head>
<body>
    <div class="nav">
        <img src="/img/logo2.jpg" alt="logo 图">
        <span class="title" th:text="${user.nickname} + '的博客'">刘卓文的blog</span>
        <span class="spacer"></span>
        <a href="/">主页</a>
        <a href="/edit.html">写博客</a>
        <a href="/logout">注销</a>
    </div>

    <div class="container">
        <div class="container-left">
            <div class="card">
                <img src="img/doge.jpg" alt="作者头像" class="avatar" th:src="${user.avatar}">
                <h3 th:text="${user.nickname}">刘卓文</h3>
                <a href="https://gitee.com/liuzhuowen" target="_blank" th:href="${user.git}">我的 git</a>
                <div class="counter">
                    <span>文章</span>
                    <span>分类</span>
                </div>
                <div class="counter">
                    <span th:text="${articleCount}">10</span>
                    <span th:text="${typeCount}">2</span>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="blog-content">
                <h3 th:text="${article.title}">标题</h3>
                <div class="date" th:text="${article.publishedAt}">2021-12-22</div>
                <div id="content" th:text="${article.content}">好好学习哈</div>
        </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/editor.md/lib/marked.min.js"></script>
            <script src="/editor.md/lib/prettify.min.js"></script>
            <script src="/editor.md/editormd.js"></script>
            <script>
                // 找到 id=content 的标签
                // 从标签中读取出 markdown 内容
                var markdown = document.querySelector("#content").innerHTML;
                document.querySelector("#content").innerHTML = "";
                // 利用 editor.md 将 markdown 转成 html 格式，并且填充回 id=content 的标签
                editormd.markdownToHTML('content', { markdown: markdown });
            </script>
    </div>
</body>
</html>